# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary
build/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables files
.env
.env.dev
.env.test

# VSCode local project configuration folder
.vscode/

# All .lock files

*.lock*
